/**font-family: 'Montserrat', sans-serif;
font-family: 'Markazi Text', serif; **/

* {
    margin: 0 auto;
    background-color: white;
}
body{
    margin: 0 auto;
    min-width: 99vw;
}
.container {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 max-width: 99%;
 min-height: 75vh;
 background-color: white;   
 font-size: 1.5rem;
 font-weight: bolder;
 color: black;
 font-family: 'Montserrat', sans-serif;
 font-weight: normal;

}
.container h1 h2 h3 h4 h5 h6{
    font-family: 'Markazi Text', serif;
}
/************app page styles ******/
.topContainer{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 50%;
    padding: 2rem .2rem;
    font-size: 1.4rem;
}

.topContainer p{
    text-align: left;
}

.middleContainer {
    display: flex;
    flex-direction: row;
    
}

.articleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20vw;
    border-style: solid;
    border-color: lightgray;
    border-width: .8px;
    border-radius: 3%;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p a{
    text-decoration: none;
    color: black;
}
.center{
    display: flex;
    justify-content: center;
    color: blue;
}
.appImageContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.appImage {
    border-radius: 2%;
    max-width: 200px;
    opacity: 0.8;
    transition: 0.3s;
}
.appImage:hover{
    opacity: 1;
}
.hedLink:hover {
    text-decoration: underline;
}

ul{
    list-style-type: none;
}
.projects a{
    text-decoration: none;
    color: black;
}
.refer {
    font-size: .7rem;
}

/****Navigation Bar styles *************/
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    font-size: 1.3rem;
    background-color: #fff;   
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}
nav ul li{
    margin-left: 2rem;
}
nav ul li .first{
    margin-left: 0;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li:before {
    margin-left: 0;
}
 
/*****header styles ***/
.headerTop {
    margin-top: 5px;
    padding: 10px 5px;
}
#headerNav a:hover{
    color: red;
    text-shadow: 5px;
}
/********footer styles ****/
.footerNav {
    display:flex;
    flex-direction: column;
}
.firstRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.firstRow li a:hover{
    color:pink;
}
.secondRow{
    display: flex;
    flex-direction: row;
}
.secondRow li a:hover{
    color: pink;
}

/***** general list styles ****/
.listContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.listContainer a{
    text-decoration: none;
    color: black;
}
.listContainer li:hover{
    text-shadow: 55px, 55px, #000000;
}

img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 20vw;    
}

#aboutContainer{
    display: flex;
    flex-direction: row;
}